body{ 
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}
.container{ 
    display: flex;
    border: 1px solid black;
    border-radius: 20px;
    background-color: rgba(203, 215, 216, 0.3);
    height: 600px;
    width: 400px;
    margin: 40px auto;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    padding: 10px;
}
.box{ 
    /* border: 2px solid black; */
    width: 95%;
    height: 120px;
    background-color: rgb(143, 163, 88,.4);
    display: flex;
    align-items: center;
    justify-content:center;
    font-size: 25px;
    font-weight: 700;
    margin: 20px auto;
    border-radius: 20px;
}
.pad{ 
    display: flex;
    flex: 1;
    margin:auto;
    align-items: flex-start;
    justify-self: center;
    border-radius: 10px;
    background-color: rgb(166, 232, 235);
      
}
.result{ 
    width: 100%;
    height: 150px;
    background-color: rgb(190, 219, 109);
    color: honeydew;
    border-radius: 20px;
    border: 1px solid rgb(15, 15, 15);
    padding: 10px;
}
.operate{ 
    background-color: rgb(59, 147, 150);
}
button{ 
    border-radius: 15px;
    width: 100px;
    height:80px;
    padding: 10px;
    background-color: rgb(80, 211, 193);
    color: rgb(17, 17, 17);
    /* border: .5px solid rgb(80, 74, 74); */
    /* font-size: 15px; */
    font-weight: 500;
    font-size: 35px;
    text-align: center; 
    flex: 1;
    margin: 2px;
}
#zero{ 
    width: 200%;
}
.clear{ 
    background-color: rgb(210, 234, 241);
    width: 100%%;
}
